<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" href="/css/loginStyle.css">
</head>
<body>

  <form class="login-form" action="/auth" method="post">
      <input type="text" name="user[username]" value="" placeholder="Username">
      <input type="password" name="user[password]" value="" placeholder="Password">
      <input type="submit" name="name" value="Log in">
  </form>

</body>
</html>
