html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

#map {
  /*margin-top: 15px;*/
  margin: 15px auto;
  width: 92%;
  height: 50%;
  border: 2px solid #d32323;
  box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.5);
}


header {
  background-color: #d32323;
  height: 20vh;
  border-bottom: 1px solid white;
}

.msg {
  display: inline-block;
  width: 60vw;
  color: white;
}

.msg h1 {
  margin: 0;
}

.mic-wrapper {
  width: 18vw;
  height: 14vh;
  border-radius: 10px;
  border: 2px solid white;
  display: inline-block;
  margin: 20px;
  box-shadow: 2px 3px 2px rgba(50, 50, 50, 0.5);
  transition: 1s linear;
}

.mic-wrapper:hover {
  background-color: white;
  box-shadow: none;
}

.mic-wrapper img {
  width: inherit;;
  height: inherit;;
}

.logout {
  position: absolute;
  right: 10px;
  top: 20px;
}


.search-results {
  margin: auto;
  width: 90vw;
}

.business-info {
  border: 1px solid #d32323;
  margin: 5px auto;
  padding: 15px;
  box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.5);
  overflow: auto;
}

.name, .info {
  float: left;
}

.name {
  width: 25%;
}
.info {
  width: 50%;
  margin-left: 20px;
}

.save {
  position: absolute;
  right: 8%;
}
